* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney'; 
}
#top-bar {
     /*debug*/
    height: 60px;
    background-color: #3160e0;
}

#top-bar-container {
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: center
    /*debug*/
}

.link-colore {
    color: white;
    padding: 15px;
    text-decoration: none;
}

#logo {
    width: 18%;
    /*debug
    background-color: yellow;  
    border-color: black; */
}

#link {
    width: 35%;
    display: flex;
    justify-content: center;
    /*debug
    background-color: yellow; 
    border-color: black;  */
}

#login {
    width: 18%;
    display: flex;
    justify-content: flex-end;
    /*debug
    background-color: yellow;
    border-color: black; */
}

#hero {
    /*debug*/
    padding: 60px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    padding: 100px 60px;
}
#container-hero {
    color: white;
    width: 55%;
    margin: 0 auto;
    justify-content: center;
    /*debug
    background-color: pink;*/
}

#distacco {
    margin-top: 20px;
    margin-bottom: 20px;
}

#apertura-download {
    display: flex;
    justify-content: space-evenly;
}

.centrato {
    display: flex;
    justify-content: center;
}


/*main*/

.immagine-destra{
    width: 83%;
    margin-left: 55px;
}

.immagine-destra{
    width: 83%;
    margin-right: 55px;
}

.container-grande {
    width: 50%;
    /*debug
    background-color: deeppink;
    height: 260px; */
}
.container-piccolo {
    width: 19%;
    padding-top: 19px;
    /*debug
    background-color: orange;
    height: 260px;*/
}

.sottotitolo {
    margin-bottom: 15px;
    font-size: 40px;
}

#sottotitolo-vocal {
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
}

.container-enorme {
    width: 62%;

     /*debug
    background-color: green;
    height: 360px;*/
}

#stelle {
    margin-bottom: 15px;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px 0;
}

#avventura {
    margin-bottom: 20px;
}

.all {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.all-grigia {
    display: flex;
    justify-content: center;
    padding: 80px;
    background-color: #f6f6f6;
}

#allineamento {
    text-align: center;
}

/*footer*/

.all-nera {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: #23272a;
}

.container-rosso {
    width: 15%;
    /*debug
    background-color: red;
    height: 260px;*/
}

#sottotitolo-blu {
    color: #6f89d3;
    margin-bottom: 15px;
}

#italia {
    height: 4.5%;
}

.testo-bianco {
    color: white;
}

.container-viola {
    width: 10%;
    /*debug*/
    background-color: purple;
    height: 260px;
}

.all-finale {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #23272a;

}

.container-ciano {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    /*debug
    height: 40px;
    background-color: aqua;*/

}

/*bottoni*/

.bottone-azzurro {
    background-color: #99a4d3;
    padding: 8px;
    border-radius: 24px;
    color: white;
    border: 0;
    padding: 10px;
}

.bottone-bianco {
    background-color: white;
    padding: 8px;
    border-radius: 24px;
    border: 0;
}

.bottone-nero {
    background-color: black;
    padding: 8px;
    border-radius: 24px;
    color: white;
    border: 0;
    margin-left: -43px;
}
